body {
<<<<<<< HEAD
   color: lightgreen;
   background-color: black;
=======
   color: white;
   background-color: darkblue;
>>>>>>> 9baca875829d2103537b35fc00c38c0e2b5b8eb4
   font-family: 'Sacramento', cursive;
   font-size: 150%;
   margin: 5em 25%;
}